<h1>Basket</h1>

@if (Model.AbonementsUser.Count > 0)
    {


        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Abonements Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Price
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.AbonementsUser)
                {
                    
                    
                if(obj.IsPay==false)
                {


                    <tr>
                        <td>
                            @obj.Name
                        </td>
                        <td>
                             @obj.Description
                        </td>
                        <td>
                             @obj.Price
                        </td>
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                 <a asp-controller="User" asp-route-Id="@obj.Id" asp-action="Pay" class=" btn btn-primary mx-2">
                                 Pay
                                 </a>
                                
                            </div>
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <p>You dont have abonements</p>
    }