@model Sportzall.Models.ViewModel.EditUserViewModel

<h1>Редагувати</h1>

<h4>Користувач</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form  method="post"  enctype="multipart/form-data">
            <input asp-for="User.Id" hidden/>
            <div class="form-group">
                <label asp-for="User.Name" class="control-label">Ім'я</label>
                <input asp-for="User.Name" class="form-control" />
                <span asp-validation-for="User.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="User.Email" class="control-label">Email</label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Password" class="control-label">Пароль</label>
                <input asp-for="User.Password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="User.Year" class="control-label">Рік народження</label>
                <input asp-for="User.Year" class="form-control" />
                <span asp-validation-for="User.Year" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="User.PhoneNumber" class="control-label">Номер телефону</label>
                <input asp-for="User.PhoneNumber" class="form-control" />
                <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="User.ShortInfo" class="control-label">Коротка інформація</label>
                <input asp-for="User.ShortInfo" class="form-control" />
                <span asp-validation-for="User.ShortInfo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="User.BenchPress" class="control-label">Жим від грудей</label>
                <input asp-for="User.BenchPress" class="form-control" />
                <span asp-validation-for="User.BenchPress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.ChessPress" class="control-label">Жим лежачи</label>
                <input asp-for="User.ChessPress" class="form-control" />
                <span asp-validation-for="User.ChessPress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Squat" class="control-label">Присід</label>
                <input asp-for="User.Squat" class="form-control" />
                <span asp-validation-for="User.Squat" class="text-danger"></span>
            </div>
             <div class="form-group row">
                    <div class="col-4">
                        Фото
                    </div>
                    <div class="col-8">
                        <input type="file" name="fileimages" id="uploadBox" multiple class="form-control"/>
                    </div>
             </div>

              <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="User.RoleId">Ролі</label>
                    </div>
                    <div class="col-8">
                      <select asp-for="User.RoleId" asp-items="Model.RoleSelectList">
                          <option selected>--Select Role</option>
                      </select>
                    </div>
             </div>


            <div class="form-group">
                <input type="submit" value="Обновити" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутися назад</a>
</div>
