@model Sportzall.Models.User
@{
    ViewData["Title"] = "Details";
}

<h1>Абонементи</h1>

<div>
    <h4>Мої абонементи</h4>
    
    </hr>

    @if (Model.AbonementsUser.Count > 0)
    {


        <table class="table table-dark table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Назва абонементу
                    </th>
                    <th>
                        Опис
                    </th>
                    <th>
                        Ціна
                    </th>
                    <th>
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.AbonementsUser)
                {           
                if(obj.IsPay==true)
                {
                    <tr>
                        <td>
                            @obj.Name
                        </td>
                        <td>
                             @obj.Description
                        </td>
                        <td>
                             @obj.Price
                        </td>
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                 <a asp-controller="Abonement" asp-route-Id="@obj.Id" asp-action="DeleteUserAbonement" class=" btn btn-warning mx-2">
                                Видалити абонемент
                                 </a>
                                 
                            </div>
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <p>У вас немає абонементів</p>
    }



</div>


