 <div class="w-75 btn-group" role="group">
    <a asp-controller="Trener" asp-action="AllUser" class="btn btn-warning mx-2">
    Всі користувачі
    </a>
    <a asp-controller="Trener" asp-action="MyTeam" class="btn btn-warning mx-2">
    Моя команда
    </a>
    <a asp-controller="Trener" asp-action="MyRozklad" class="btn btn-warning mx-2">
    Додати користувача до розкладу
    </a>
</div>