 <div class="w-75 btn-group" role="group">
     <a asp-controller="Trener"   asp-action="AllUser" class=" btn btn-primary mx-2">
    All User
    </a>
    <a asp-controller="Trener"   asp-action="MyTeam"  class="btn btn-primary mx-2">
    My Team
    </a>
    <a asp-controller="Trener"   asp-action="MyRozklad"  class="btn btn-primary mx-2">
    Add Hour To Rozklad
    </a>
</div>